@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #0080C0;
    --blue_bg: #ced8ed;
    --green:#B3C91B;
    --green_bg: #e3e4d5;
    --red: #C62828;
    --orange: #ff9800;
    --purple: #9c27b0;
}

/*----------------------------------------------------Admin Pages----------------------------------------------------*/

/*------------------------Admin Tables-------------------------------*/
.table_background{
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);
    border-radius: 15px;
    width: 100%;
}

.ausgabe-admin th, .ausgabe-admin td{
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ausgabe-admin {
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.ausgabe-admin th{
    text-transform: uppercase;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.ausgabe-user-body tr:nth-child(even) {
    background-color: #e8e8e8;
}

.ausgabe-user-head,
.ausgabe-user-body tr:last-child {
    background-color: var(--blue);
    color: white;
}

.ausgabe-user-body tr:last-child {
    background-color: var(--blue);
    color: white;
}

.ausgabe-admin td{
    padding-top: .9rem;
    padding-bottom: .9rem;
}

.ausgabe-user-body tr:last-child td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.ausgabe-user-body tr {
    position: relative;
    transition: .1s;
}

.ausgabe-user-body tr:hover,
.ausgabe-user-body tr:focus-within {
    background-color: var(--green_bg);
    color: black;
    transition: .1s;
}

.ausgabe-user-body tr::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--green);
    transition: .1s;
}

.ausgabe-user-body tr:hover::after,
.ausgabe-user-body tr:focus-within::after {
    transition: .1s;
    height: 80%;
    top: 10%;
    width: .4rem;
}

.user_grid {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 1rem;
}

.user_grid_left {
    grid-column: 1;
}

.admin-users-icons {
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0.75;
    transition: .1s;
}

.admin-users-icons:hover,
.admin-users-icons:focus-within {
    transform: scale(1.2);
    opacity: 1;
    transition: .1s;
}

/*------------------------Admin Details-------------------------------*/

.details-admin {
    background-color: white;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(114, 114, 113, 0.4);
    overflow: hidden;
    margin-bottom: 1.3rem;
}

.details-admin summary {
    cursor: pointer;
    padding: .5rem .4rem;
    font-weight: 500;

    margin: 0;
    transition: margin 150ms ease-out;
}

.details-admin[open] summary {
    background-color: var(--blue_bg);
    margin-bottom: 10px;
    transition: .1s;
}

/*------------------------Admin Alters-------------------------------*/

.alert {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(114, 114, 113, 0.4);
}

.alert-danger {
    background-color: var(--red);
    color: white;
}

.alert-success {
    background-color: var(--green);
    color: black;
}

.alert-info {
    background-color: var(--blue);
    color: white;
}

/*----------------------------------------------------Stundenplan----------------------------------------------------*/
.timetable_page {
    display: grid;
    grid-template-columns: 25% 75%;
}

.timetable_page:first-of-type {
    left: 50%;
    transform: translateX(-50%);
}

.sidebar {
    box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);
    border-radius: 2rem;
    padding: 1rem;
    margin-right: 1em;
    background-color: white;
    display: inline-block;
    height: fit-content;
}

.sidebar_header {
    padding: 0 .9rem;
    display: flex;
    justify-content: space-between;
}

.sidebar_courses {
    max-height: 60vh;
    overflow-y: auto;
    padding: .75rem .75rem 0;
}

.subject {
    padding: .75rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: var(--green);
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 0 var(--green_bg);
    z-index: 4;
}

.subject[draggable="false"] {
    cursor: default;
}

.sidebar_courses .subject[draggable="false"] {
    opacity: 0.6;
}

.subject[draggable="false"]::after {
    display: none;
}

.subject::after {
    content: '';
    position: absolute;
    width: 0;
    top: 0;
    left: 50%;
    height: 0;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--blue);
    transition: .1s;
}

.subject:hover::after,
.subject:focus-within::after {
    width: 70%;
    left: 15%;
    height: .3rem;
    transition: .1s;
}

.dropped-subject {
    width: 98%;
    height: fit-content;
    padding: .75rem;
    margin: 0 1%;
    border-radius: 0;
    background-color: var(--blue_bg);
    box-shadow: none;
    z-index: 3;
    cursor: pointer;
}

.dropped-subject::after {
    background-color: var(--blue);
}

.dropped-subject p {
    width: 105%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.timetable {
    height: 100%;
    background-color: #fff;
    display: inline-block;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);
}

.timetable_content {
    width: 100%;
    border-collapse: collapse;
}

.timetable_content th,
.timetable_content td {
    border: 2px solid #838383;
    padding: .7rem;
    text-align: center;
    position: relative;
    max-width: 40px;
}

.timetable_content .timetable_data:empty {
    padding: .7rem;
}

.timetable_content .timetable_data {
    padding: 0;
}

.timetable_content .timetable_time {
    background-color: var(--blue_bg);
    border-color: #575757;
}

.timetable_content th {
    border-top: none;
    background-color: var(--blue);
    color: white;
    border-color: #575757;
}

.hovered {
    background-color: var(--green_bg);
}

/*
 * remove outer borders
 */
.timetable_content th:first-of-type,
.timetable_content th:last-of-type,
.timetable_content td:first-of-type,
.timetable_content td:last-of-type {
    border-left: none;
    border-right: none;
}

.timetable_content tr:last-of-type td {
    border-bottom: none;
}

.timetable_content td {
    height: 6.4rem;
    position: relative;
}

.color-1 {
    background-color: var(--green);
    color: black;
}

.color-2 {
    background-color: var(--orange);
    color: black;
}

.color-3 {
    background-color: var(--red);
    color: white;
}

.color-4 {
    background-color: var(--purple);
    color: white;
}
